# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*

# Optional files
node_modules/
.env
.env.local
